Package          Version
---------------- -------
aniso8601        3.0.0  
click            6.7    
Flask            1.0.2  
Flask-Jsonpify   1.5.0  
Flask-RESTful    0.3.6  
Flask-SQLAlchemy 2.3.2  
itsdangerous     0.24   
Jinja2           2.10   
MarkupSafe       1.0    
pip              10.0.1 
Python           2.7.10 
pytz             2018.4 
setuptools       39.1.0 
six              1.11.0 
SQLAlchemy       1.2.7  
SQLite3.         3.19.3  
Werkzeug         0.14.1 
wheel            0.31.1 
